body{
    background-color: #242B2E;
}

h1{
    color: #ffff;
}

.button{
    background-color: #6A1B4D;
    color: #ffff;
    padding: 15px 30px;
    margin-left: 48%;
    border: none;
    border-radius: 10px;
}